<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="~{fragments :: head}"></div>
    <title>Creation Ticket </title>
</head>

<body>

    <div class="d-flex align-items-start flex-column mb-3" style="height: 85vh;">
        <div class="container mb-auto">
            <br>
            <div th:replace="~{fragments :: navbar}"></div>
            <br>
            <h1>New Ticket</h1>
            <hr />
            <form th:action="@{/ticket/create}" th:object="${ticket}" method="post" class="mb-4">
                <div class="mb-3">
                    <label for="titolo" class="form-label">Title</label>
                    <input type="text" id="titolo" th:field="*{title}" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" th:field="*{description}" class="form-control" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select id="category" th:field="*{category}" class="form-select" required>
                        <option th:each="category : ${allCategory}" th:value="${category.id}"
                            th:text="${category.name}">
                        </option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="operator" class="form-label">Operator</label>
                    <select id="operator" th:field="*{operator.id}" class="form-select" required>
                        <option value="" disabled selected>Select your option</option>
                        <option th:each="operator : ${availableOperator}" th:value="${operator.id}"
                            th:text="${operator.username}">
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Add Ticket</button>
            </form>
        </div>
    </div>



    <div th:replace="~{fragments :: script}"></div>
</body>

</html>