<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments :: head}"></div>
</head>

<body>
    <div class="container">
        <br>
        <h1 class="text-center">Dashboard Ticket</h1>

        <div th:replace="~{fragments :: navbar}"></div>
        <br>
        <h3 class="text-center">List of Ticket</h3>
        <br>
        <div th:if="${!tickets.isEmpty()}">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            State
                        </th>
                        <th>
                            Operator
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="ticket : ${tickets}">
                        <td th:text="${ticket.title}"></td>
                        <td th:text="${ticket.description}"></td>
                        <td th:text="${ticket.category}"></td>
                        <td>
                            <span th:text="${ticket.state}"
                                th:class="'badge ' + (${ticket.state.name()} == 'To_do' ? 'bg-secondary' :
                                                  (${ticket.state.name()} == 'In_progress' ? 'bg-warning' :
                                                  (${ticket.state.name()} == 'Complete' ? 'bg-success' : 'bg-primary')))">
                            </span>
                        </td>
                        <td th:text="${ticket.operator}"> </td>
                        <td>
                            <a class="btn btn-primary" th:href="@{|/dashboard/show/${ticket.id}|}">
                                <i class="fa-solid fa-info"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-primary" th:href="@{|/dashboard/edit/${ticket.id}|}">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                        <td>
                            <form action="#" th:action="@{|/dashboard/delete/${ticket.id}|}" method="post">
                                <button class="btn btn-danger" type="submit" id="delete-button"
                                    onclick="return confirm('Are you sure?')">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${tickets.isEmpty()}" class="alert alert-warning" role="alert">
            There aren't tickets!
        </div>


    </div>
    <div th:replace="~{fragments :: script}"></div>
</body>

</html>